

a {
    text-decoration: none;
    font-family: 'Raleway', 'sans-serif';
    color: #00baff;
}

a:hover {
    text-decoration: none;
    color: #00baff;
}

a.action-button {
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid #00baff;
    border-radius: 5px;
}

a.action-button:hover {
    background-color: #00baff;
    color: #fff;
}

p {
    font-family: 'Roboto Condensed', 'Open sans', 'serif';
    font-weight: 100;
    color: #666;
}

html,body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
body {
    max-width: 100vw;

}

.heading-section h2 {
    font-weight: 500; }

/* Section 1 */


header {
    color: white;
    position: fixed;
    background: rgba(0,0,0,0.9);
    min-width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 900;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.7);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.7);
}

header .header-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

header .header-row .brand {
    display: flex;
    justify-content: flex-start;
    flex-grow: 9;
    align-items: center;
    float: left;
    margin-left: 30px;
}

header .header-row .brand > a {
    display: flex;
    align-items: center;
}

header .header-row .brand > a > img.logo {
    height: 50px;
}

header .header-row .brand > a > span.sublogo {
    color: #fff;
    font-size: 24px;
    font-family: 'Raleway', 'Open sans', 'serif';
    margin-left: 10px;
}



.hamburger {
    height: 30px;
    width: 30px;
    margin: 0 0 0 15px;
    display: none;
}

.hamburger.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.hamburger hr {
    margin: 10px 0;
    border: 1px solid white;
    transform-origin: top left;
}


/* Drawer styles */

.drawer-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 0px;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 64px;
    z-index: 9;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-box-shadow: 4px 0px 12px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 0px 12px -2px rgba(0,0,0,0.5);
    box-shadow: 4px 0px 12px -2px rgba(0,0,0,0.5);



}

nav.drawer {
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
}

nav > a {
    color: rgba(255,255,255, 0.7);
}

nav > a:hover {
    color: rgba(255,255,255, 0.9);
}

nav.drawer > a {
    margin: 30px 0 30px;
    flex-grow: 1;
}


nav#header-menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 10;
    height: 100%;
}

nav#header-menu > a {
    padding: 20px 18px 20px;
    color: rgba(255,255,255, 0.7);
    transition: all .3s ease-in-out;
}


nav#header-menu > a:hover {
    color: rgba(255,255,255, 0.9);
    border-bottom: 2px solid white;
}

nav#header-menu > a.search:hover {
    border: 0;
}

nav#header-menu > form.search-form {
    display: inline-block;
    margin: 10px 20px 10px 0;
    position: relative;
}

nav#header-menu > form.search-form > input.search-box {
    background: none;
    outline: none;
    width: 100px;
    border: none;
    border-bottom: 1px solid #222;
    line-height: 16px;
    color: #f4f4f4;
    font-size: 1.2em;
    max-width: 200px;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 100;
    transition: all 0.3s ease-in-out;
}

nav#header-menu > form.search-form > input.search-box:focus ~ button.search-button {
    background: #00baff;
    transform: rotate(-360deg);
}

nav#header-menu > form.search-form > input.search-box:focus {
    width: 150px;
}

nav#header-menu > form.search-form > button.search-button {
    background: none;
    outline: none;
    color: #f4f4f4;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid #f4f4f4;
    transition: all 0.4s ease-in-out;
}

section.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Carousel Styles */

.owl-carousel {
    position: relative; }
    .owl-carousel .owl-item {
      opacity: .4; }
      .owl-carousel .owl-item.active {
        opacity: 1; }
    .owl-carousel .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%; }
      .owl-carousel .owl-nav .owl-prev,
      .owl-carousel .owl-nav .owl-next {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -10px;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        opacity: 0; }
        @media screen and (prefers-reduced-motion: reduce) {
          .owl-carousel .owl-nav .owl-prev,
          .owl-carousel .owl-nav .owl-next {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } }
        .owl-carousel .owl-nav .owl-prev span:before,
        .owl-carousel .owl-nav .owl-next span:before {
          font-size: 40px; }
      .owl-carousel .owl-nav .owl-prev {
        left: 0; }
      .owl-carousel .owl-nav .owl-next {
        right: 0; }
    .owl-carousel .owl-dots {
      position: relative;
      text-align: center; }
      .owl-carousel .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1; }
        .owl-carousel .owl-dots .owl-dot span {
          width: 10px;
          height: 10px;
          background: #dadadc;
          border-radius: 50%;
          display: inline-block;
          margin: 5px 7px; }
        .owl-carousel .owl-dots .owl-dot.active span {
          background: #79efb4; }
    .owl-carousel:hover .owl-nav .owl-prev,
    .owl-carousel:hover .owl-nav .owl-next {
      opacity: 1; }
    .owl-carousel:hover .owl-nav .owl-prev {
      left: -20px; }
    .owl-carousel:hover .owl-nav .owl-next {
      right: -20px; }
    .owl-carousel.home-slider {
      z-index: 0;
      position: relative; }
      .owl-carousel.home-slider .slider-item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: calc(100vh - 117px);
        min-height: 700px;
        position: relative; }
        .owl-carousel.home-slider .slider-item .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          background: #79efb4;
          opacity: 0; }
        .owl-carousel.home-slider .slider-item .slider-text {
          color: #fff;
          display: flex;
          height: calc(100vh - 117px);
          min-height: 700px; }
          .owl-carousel.home-slider .slider-item .caption-reverse {
              flex-direction: row-reverse;
          }
          .owl-carousel.home-slider .slider-item .slider-text .slider-caption {
              background-color: rgba(0,186,255,0.5);
              padding: 20px;
              border-radius: 20px;
              
          }
          .owl-carousel.home-slider .slider-item .slider-text h2 {
            font-size: 48px;
            font-family: 'Raleway', 'sans-serif';
            color: #fff;
            line-height: 1.2;
            font-weight: 400; }
            @media (max-width: 991.98px) {
              .owl-carousel.home-slider .slider-item .slider-text h2 {
                font-size: 24px; } }
          .owl-carousel.home-slider .slider-item .slider-text p {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 300;
            color: rgb(255, 255, 255); }
            @media (max-width: 991.98px) {
                .owl-carousel.home-slider .slider-item .slider-text p {
                  font-size: 14px; } }
            .owl-carousel.home-slider .slider-item .slider-text p strong {
              font-weight: 700; }
              .owl-carousel.home-slider .slider-item .slider-text p strong a {
                color: #fff; }
          .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 1px; }
            .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
              border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
              .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
                color: #fff; }
      .owl-carousel.home-slider .owl-nav .owl-prev span,
      .owl-carousel.home-slider .owl-nav .owl-next span {
        color: #fff; }
      .owl-carousel.home-slider:hover .owl-nav .owl-prev,
      .owl-carousel.home-slider:hover .owl-nav .owl-next {
        opacity: 1; }
      .owl-carousel.home-slider:hover .owl-nav .owl-prev {
        left: 20px; }
      .owl-carousel.home-slider:hover .owl-nav .owl-next {
        right: 20px; }
      .owl-carousel.home-slider .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        width: 100%;
        text-align: center; }
        .owl-carousel.home-slider .owl-dots .owl-dot {
          width: 18px;
          height: 18px;
          margin: 5px;
          border-radius: 50%;
          background: white;
          background: none;
          border: 2px solid rgba(255, 255, 255, 0.5);
          outline: none !important;
          position: relative;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          display: inline-block; }
          .owl-carousel.home-slider .owl-dots .owl-dot span {
            position: absolute;
            width: 12px;
            height: 12px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50% !important;
            left: 0%;
            top: 2px;
            display: block;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
          .owl-carousel.home-slider .owl-dots .owl-dot.active {
            border: 2px solid white; }
            .owl-carousel.home-slider .owl-dots .owl-dot.active span {
              background: white; }
  
.owl-custom-nav {
float: right;
position: relative;
z-index: 10;
border: 1px solid red; }
.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block; }


.activities {
    position: relative; }
    .activities .icon span {
        position: relative;
        color: #404044;
        font-size: 80px;
        z-index: 0;
        line-height: 1.5; }
    .activities .media-body .heading {
        font-size: 18px;
        text-transform: uppercase; }


/* People section */


@media (max-width: 767.98px) {
    .founder {
      margin-bottom: 4em; } }
@media(min-width: 767.98px) {
    .people-row {
        margin-bottom: 4em;
    }
    }
  
  .founder .founder-img {
    display: block;
    height: 140px;
    width: 140px;
    margin: 0 auto;
    border-radius: 50%; }
  
  .founder .text h3 {
    font-size: 18px;
    font-weight: 400; }
  
  .founder .text span.position {
    font-size: 13px;
    color: #c0c0c3; }
  
  .founder .text .btn {
    font-weight: 300; }

/* Testimony section */

.testimony-section {
    position: relative; }
    .testimony-section .owl-carousel {
      margin: 0; }
    .testimony-section .owl-carousel .owl-stage-outer {
      padding-bottom: 1em;
      position: relative; }
  
  .testimony-wrap {
    display: block;
    position: relative;
    border-radius: 2px; }
    .testimony-wrap p {
      line-height: 1.8;
      font-size: 21px; }
    .testimony-wrap .user-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto; }
    .testimony-wrap .name {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 0;
      color: #404044; }
    .testimony-wrap .position {
      font-size: 13px;
      color: #c0c0c3;
      font-weight: 400; }

section.hero img.hero-image
{
    width: 50%;
    overflow: hidden;
}

.classes .classes-img {
    display: block;
    height: 300px; }

.user-img,
.classes-img,
.founder-img,
.insta-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

section.people-faces
{
    padding-top: 64px;
    display: flex;
}

section.people-faces .face
{
    width: 100px;
    
}

section.people-faces .face > img
{
    width: 100%;
    border-radius: 50%;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-description
{
    padding: 10%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 40px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}


/* Animation */

.ftco-section {
    padding: 10em 0;
}

.ftco-animate {
    opacity: 0;
    visibility: hidden; }


footer {
    background-color: #202020;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 4vw 0;
}

footer .footer-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer .footer-legal {
    text-align: center;
    font-size: 0.9em;
    font-family: 'Open Sans', 'sans-serif';
    color: white;
}

footer a {
    color: #f4f4f4;
    opacity: 0.7;
}

footer a:hover {
    opacity: 0.9;
}

footer .footer-main .footer-logo img {
    height: 100px;
    width: 100px;
}

footer .footer-main .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    min-height: 240px;

}

footer .footer-main .footer-column .footer-header {
    font-size: 1em;
    font-family: 'Oswald', 'Open Sans', 'sans-serif';
    color: #f4f4f4;
    margin: 10px 0 10px;
}

footer .footer-main .footer-column .links-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

}

.links-column > a {
    margin: 10px 0 10px;
    font-size: 0.8em;
}


footer .footer-main .footer-column-1 .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;

}

footer .footer-main .footer-column-3 {
    border: none;
}

footer .footer-main .footer-column-1 .social-icons > a {
    margin: 0 20px 0;
}

footer .footer-main .footer-column-1 .social-icons > a:nth-child(1) {
    margin-left: 0;
}





/* Utility classes */
.hideScrollbars {
    overflow: hidden;
}

.highlightBorder {
    border-bottom: 2px solid white;
}

.toggleGhostHeader {
    background: rgba(2,2,2, 0.7);
}

.toggleGhostHeader:hover {
    background: rgba(2,2,2, 0.9);
}

.headerDefault {
    background: rgba(2,2,2, 0.9);
}

/* Animations  */

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

.rollOutSearchBox {
    width: 200px;

}



/* Media Queries */

@media (max-width: 767px) {

    header .header-row {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }

    header .header-row .brand {
        flex-grow: 9;
        justify-content: center;
        margin-left: -45px;
    }

    .header-row .hamburger {
        flex-grow: 0;
    }

    header {
        align-items: flex-start;
    }

    nav#header-menu {
        display: none;
    }



    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      transition: transform 330ms ease-out;
    }

    section#learn {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section#dataset {
        flex-direction: column;
        justify-content: space-between;
        padding: 4vh;
    }

    #dataset .section-image {
        flex-direction: row;
        min-height: auto;
        min-width: 100%;

    }

    #affiliate .section-image > img {
        max-width: 30vw;
    }

    section#sketchboard {
        justify-content: center;
    }

    .sprung-image {
        display: none;
    }

    footer .footer-main .footer-column-1 .social-icons > a {
        margin: 0 8px 0;
    }


}

@media (min-width: 768px) {
    .drawer-layout {
        display: none;
    }
}

@media(max-height: 500px) {
    section#sketchboard {
        flex-direction: row;
    }

    .sprung-image {
        display: none;
    }

    #canvasDiv {
        margin: 20px 10px 0 0;
    }
}
